@font-face {
    font-family: segmented;
    src:url("fonts/DS-DIGIB.TTF");
}

body{
    background-color: #dadada;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header, main, footer{
    width: 100%;
}

header{
    height: 50px;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    padding: 20px 0px;
    text-align: center;
}

main{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    text-align: center;
}

.calculator{
    width: 400px;
    height: 660px;
    background-color:#87A7CE;
    margin: 0 auto;
    border-radius: 8px;
    box-shadow: 15px 15px 4px 1px #29476d;
}
/* 87A7CE */

.displayOuter{
    padding: 40px 40px 40px 40px;
    border-radius: 8px 8px 0px 0px;
    background-color: #0C1A41;
}

.display{
    text-align: right;
    font-family: 'segmented', sans-serif;
    font-size: 50px;
    padding: 20px;
    background-color: rgb(69, 105, 102);;
    border: solid 0.1px #000;
    border-radius: 8px;
    box-shadow: inset 8px 8px 6px #363535;
    display: flex;
    justify-content: flex-end;
    overflow: auto;
}

.displayA{
    min-height: 50px;
}

.allButtons{
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    margin: 0px 40px;
    margin-bottom: 50px;
    margin-top: 40px;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 600,
  'GRAD' 0,
  'opsz' 40
}

button{
    width: 110px;
    height: 60px;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    background-color: #284164;
    box-shadow: 4px 4px 3px 1px #000000;
    color: #fff;
    cursor: pointer;
}

button:hover, .button-hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease-in-out; 
}

button:active {
    transform: scale(0.95); 
    transition: transform 0.1s ease-in-out;
}

#power, #clear{
    background-color: #CF6B79;
}

#backspace{
    padding-top: 10px;
    color: #CF6B79;
}

/* Animations for Greetings */
.fadeIn {
    animation: fadeIn 2s linear;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.fadeOut {
    animation: fadeOut 2s linear;
}

@keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}